#############################################

# Ignore pyc
*.pyc
**/__pycache__

# Ignore .old files
*.old

# Ignore Vim undo log
*.un~
*.swp

# Ignore VS Code settings
.vscode/

# Ignore input and output files
input/
output/

# Ignore packaging intermediate artifacts
build/
dist/
*.egg-info/

# Ignore tests
tests/
