##############################################
# This is the .gitignore for the master branch
##############################################

# Ignore pyc
*.pyc
**/__pycache__

# Ignore Vim undo log
*.un~
*.swp

# Ignore VS Code settings
.vscode/

# [master] Ignore input and output files
input/
output/

# Ignore external software
external/

# Ignore packaging intermediate artifacts
build/
dist/
*.egg-info/

